name: "build"

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  build-electron:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "macos-latest"
            target: "mac"
            arch: "x64"
          - platform: "macos-latest"
            target: "mac"
            arch: "arm64"
          - platform: "ubuntu-22.04"
            target: "linux"
            arch: "x64"
          - platform: "windows-latest"
            target: "win"
            arch: "x64"
          - platform: "windows-11-arm"
            target: "win"
            arch: "arm64"
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9.15.2
          run_install: false

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install frontend dependencies
        run: pnpm install --ignore-scripts

      - name: Build Electron app
        run: pnpm run build:${{ matrix.target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: electron-app-${{ matrix.platform }}-${{ matrix.arch }}
          path: dist/
          if-no-files-found: warn
